@import "mixins";

header.header {
    height: 25px;
    margin: 40px 32px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        height: 25px;
        width: auto;
    }
}