@import "colors";
@import "fonts";
@import "mixins";
@import "button";

/* SECTION INTRO */
.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  img.intro_image {
    width: 100%;
    margin-bottom: 94px;
  }
  .intro_txt {
    .button_group {
      display: flex;
      justify-content: center;
    }
  }
}

/* SECTION CARDS */
.cards_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  .cards {
    background: #ffffff;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    border-radius: 15px;
    padding: 50px 5px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1.2rem;
    .cards_title {
      font-size: 20px;
      margin-bottom: 5px;
      color: $neutral-dark;
    }
    img {
      margin-bottom: 32px;
    }
  }
}

/* SECTION NEWSLETTER */
section.newsletter {
  background: $color-primary;
  padding-top: 60px;
  padding-bottom: 40px;
  p.letter_space_title {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 4.5px;
    margin-bottom: 0;
  }
  h6 {
    color: #ffffff;
    margin-bottom: 32px;
  }
  input[type="email"] {
    background: #ffffff;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 16px;
  }
  input[type="email"]::placeholder {
    opacity: 50%;
  }
  input[type="submit"] {
    width: 100%;
  }
}

@include tablet {
  .intro {
    img.intro_image {
      width: 50% !important;
    }
    .intro_txt {
      width: 50%;
      .button_group {
        a:nth-child(1) {
          margin-right: 16px;
        }
      }
    }
  }
}
