@import "colors";
@import "fonts";
@import "mixins";
@import "button";

/* RECURRENTS */
.intro_section {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 2rem 32px;
  max-width: 1170px;
}

/* SECTION INTRO */
.intro .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  .intro_txt {
    width: 100%;
    .button_group {
      display: flex;
      justify-content: center;
      a:nth-child(1) {
        margin-right: 16px;
      }
    }
  }
}

/* SECTION CARDS */
.cards_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  .cards {
    background: #ffffff;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    border-radius: 15px;
    padding: 50px 5px 0px;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    .cards_title {
      font-size: 20px;
      margin-bottom: 5px;
      color: $neutral-dark;
    }
    img {
      margin-bottom: 32px;
    }
  }
}

/* SECTION NEWSLETTER */
section.newsletter {
  background: $color-primary;
  padding-top: 40px;
  padding-bottom: 30px;
  p.letter_space_title {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 4.5px;
    margin-bottom: 32px;
  }
  h6 {
    color: #ffffff;
    margin-bottom: 32px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input[type="email"] {
    display: block;
    background: #ffffff;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    padding: 15px 20px;
    margin-bottom: 16px;
    width: 300px;
    height: 48px;
  }
  input[type="email"]::placeholder {
    opacity: 50%;
    text-align: left !important;
    @include font-content;
  }
  input[type="submit"] {
    display: block;
    width: 300px;
    height: 48px;
    padding: 15px 20px;
    line-height: 20px;
  }
}

@include tablet {
  .intro_section {
    max-width: 540px;
    margin: 0 auto;
  }
  .intro .container {
    flex-direction: row-reverse;
    .intro_image {
      width: 50% !important;
    }
    .intro_txt {
      width: 50%;
      .button_group {
        justify-content: flex-start;
      }
      h1,
      p {
        text-align: left;
      }
    }
  }
  .cards_block {
    .cards {
      margin: 1.2rem;
    }
  }
  section.newsletter {
    form {
      display: flex;
      flex-direction: row;
      align-items: inherit;
      align-content: center;
      width: 100%;
    }
    input[type="submit"] {
      margin-left: 16px;
      width: initial;
      height: max-content;
      line-height: 15px;
    }
  }
}

@media (min-width: 1080px) {
  .cards:nth-child(1) {
    margin-top: 0px;
  }
  .cards:nth-child(2) {
    margin-top: 40px;
  }
  .cards:nth-child(3) {
    margin-top: 80px;
  }
}
